div.container{
  background-color: rgb(26, 25, 25);
  height: 200vh;


}




div.caja1 {
    width: 100px;
    height: 100px;
    background: rgb(208, 48, 33);
    
    
    
  }
  div.caja2 {
    width: 100px;
    height: 100px;
    background: rgb(225, 204, 87);
    
    
  }
  
  div.caja4 {
    width: 100px;
    height: 100px;
    background: rgb(68, 173, 108);
    

    }

   .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    
  }

  .container{background-size: 100%;



  }