.div{background-color: black;}

div.caja1 {
    width: 100px;
    height: 100px;
    background: rgb(208, 48, 33);
    padding: 20px;
    margin: 20px;
    
    
  }
  div.caja2 {
    width: 100px;
    height: 100px;
    background: rgb(225, 204, 87);
    padding: 20px;
    margin: 20px;
    
  }
  div.caja3 {
    width: 100px;
    height: 100px;
    background: rgb(43, 50, 170);
    padding: 20px;
    margin: 20px;
    
  }
  div.caja4 {
    width: 100px;
    height: 100px;
    background: rgb(68, 173, 108);
    padding: 20px;
    margin: 20px;

    }
    